*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #fbc531;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #fbc531;
    transition: .4s;
}
/*.btn{
    background-color:#f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}*/

.content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%);
    color: snow;
}

#myh1{
    margin-left: 60px;
    font-weight: 100;
    line-height: 1.2;
    color: white;
    font-size: 20px;

}
#myh{
    margin-left: 60px;
    font-weight: 100;
    line-height: 1.2;
    color: white;
    font-size: 20px;
}
#myh4{
    margin-left: 60px;
    font-weight: 600;
    line-height: 1.2;
    color: #fbc531;
    font-size: 40px;
}


/* =======================About-Section======================= */

.about-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /*

    width: 100px;
    height: 100px;
    background-color: #0a53be;

    */

}
.about-area{
    position: relative;

}

.about-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}
/*.about-content{
    background-color: black;
    background-size: 50%;
    background-size: contain;
    background-repeat: no-repeat;
   !* background-position: center;*!

}*/



#aboutus{
    font-size: 30px;
    color:#fbc531 ;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 80px;
}

#welcome{
    font-size: 50px;
    color:black ;

   /* margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 80px;*/
}



.about-img>img{

    position: absolute;
    width: 80%;
   /* border-radius: 0%;
    border-radius: 15%;*/
    animation-name: img;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes img {
    to{
        top: -10px;
    }from{
         top: 10px;
     }
}

.about-content{

    height: 100%;
    /* // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.about-content>h6:nth-child(1){
    color: #20bf6b;
    text-align: center;
    font-size: 4em;
}
.about-content>h2:nth-child(2){
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 2em;
}
.about-content>p:nth-child(2){

    color: white;
    text-align: center;
    padding: 20px 30px;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

/*------------------------------------------------------------------*/
#better{
    color: #fbc531;
    font-size: 3em;
    margin-left: 80px;
    font-family: 'Josefin Sans', sans-serif;
}
#easy{
    color: black;
    margin-left: 80px;
    font-size: 1.8em;
}

#1png{
    height: 1.5rem;
    size: 16px;
}



